*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark: #252422;
    --orange: #FF5500;
    --white: #FFFFFF;
    --white2: #FFFCF2;
    --violet: #B88ED7;
    --green: #76C893;
    --gray: #D9D9D9;
    --black: #000000;
    --yellow: #FFF500;
}

a{
    color: inherit;
    text-decoration: none;
    
}

/* CONTAINER */

#container{
    width: 100vw;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--white2);
}

/* MAIN NAV */

.main-nav{
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.jazz-logo{
    width: 8rem;
    max-height: auto;
    padding: 1rem;
}

/* BURGER MENU */

.burger{
    color: white;
    margin: 0.5rem 1.5rem 0.5rem 0;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(1.5);
}

.burger.active{
opacity: 1;
}

.main-ul.active{
    left: 0%;
    z-index: 50;
}

.main-ul > li:hover {
    transition: all 0.5s;
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

body.active{
    overflow: hidden;
}



/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    position: fixed;
    left: -100%;
    top: 4rem;
    height: 100vh;
    background-color: var(--dark);
    text-align: center;
    transition: 0.3s;
    z-index: 50;
   
}

li{
    list-style-type: none;
    margin: 3rem auto;
    cursor: pointer;
}

.first-li{
    margin-top: 5rem;
}


/* MOOD SECTION */

#mood{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--dark);
    overflow: hidden;
}


/* MOOD TITLE */

.mood-h2{
    width: 100%;
    font-size: 2.5rem;
    margin: 4rem 0 1rem 3rem;
    padding: 0 0.5rem 0.5rem 0;
    color: var(--dark);
    text-align: left;
}

.vinyl-hero{
    width: 20rem;
    height: auto;
    transform: translate(-10rem, 5rem) rotateZ(0);
    position: absolute;
    z-index: 9;
}

@keyframes spin {
    0% {transform: translate(-10rem, 0rem) rotateZ(0deg);}
    100% {transform: translate(-10rem, 0rem) rotateZ(1800deg);} 
}

.vinyl-spins{
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
}


.mood-p{
    text-align: left;
    line-height: 2;
    padding: 2rem;
}

.choose-btn{
    background-color: var(--yellow);
    color: var(--dark);
    border: 1px solid var(--dark);
    margin: 25rem auto 4rem auto;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.choose-btn:hover{
    transition: all 0.5s;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--white2);
}

/* MOODLIST SECTION */ 

#moodlist{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.moodlist-ul{
    padding: 0;
    width: 100%;
    margin: 0 auto 2rem auto;
}

.moodlist-ul > li:hover {
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: underline var(--yellow);
}




/* FOOTER */

footer{
    background-color: var(--dark);
    color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-address{
    margin-top: 2rem;
}

footer > p {
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    width: 60%;
}

.social-icons > i {
    transform: scale(2);
    cursor: pointer;
}

.jazzCup-footer{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.student-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.student-project > span{
    padding-left: 1rem;
}