*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark: #252422;
    --orange: #FF5500;
    --white: #FFFFFF;
    --white2: #FFFCF2;
    --violet: #B88ED7;
    --green: #76C893;
    --gray: #D9D9D9;
    --black: #000000;
}

/* CONTAINER */

#container{
    width: 100vw;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* MAIN NAV */

.main-nav{
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.jazz-logo{
    width: 8rem;
    max-height: auto;
    padding: 1rem;
}

/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem;
}

li{
    list-style-type: none;
}

/* HERO SECTION */

#hero{
    width: 100vw;
    height: 55vh;
    background-color: var(--white2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.vinyl-hero{
    width: 20rem;
    height: auto;
    transform: translate(-10rem, 0rem) rotateZ(0);
    position: absolute;
    z-index: 9;
}

@keyframes spin {
    0% {transform: translate(-10rem, 0rem) rotateZ(0deg);}
    100% {transform: translate(-10rem, 0rem) rotateZ(1800deg);} 
}

.vinyl-spins{
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
}

.hero-right{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    margin: 0 0rem 0 auto;
}

.jazz-h1{
    display: block;
    width: 10rem;
    height: 100%;
    font-size: 2.5rem;
    text-align: right;
    margin: 5rem 1.5rem 0 auto;
    z-index: 10;
    color: var(--white2);
    font-family: articulat-heavy-cf, sans-serif;
    font-weight: 900;
    font-style: normal;
}



/* NEW RELEASES SECTION */

#new-releases{
    background-color: var(--white2);
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark);
}

/* NEW RELEASES TITLE */

.releases-h3{
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: var(--orange);
    padding: 0 0.5rem 0.5rem 0;
    margin-top: 2rem;
    color: var(--white2);
}

/* NEW RELEASES TEMPLATE */

.template-article{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin: 3rem 0 0 0;
}

/* NEW RELEASES INDIVIDUAL CARD */

.inside-template{
    display: inline-block;
    
    flex-direction: column;
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* NEW RELEASES ALBUM IMAGE */

.template-img{
    width: 80%;
    height: 50%;
    filter: drop-shadow(2px 4px 6px var(--dark));
}

.all-but-img{
    height: 50%;
    width: 80%;
    margin: 1rem 0;
    text-align: left;
}

/* NEW RELEASES BAND NAME */

.new-release-band{
    color: var(--gray);
    text-align: left;
}

/* NEW RELEASES PRICE AND ALBUM DIV */

.template-price-album{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}


/* FOOTER */

footer{
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    width: 8rem;
    max-height: auto;
    padding: 1rem;
}

